<div class="livro livro-list-item">
    <div class="livro-cover">
        <img src="https://m.media-amazon.com/images/I/81PKwC6wjmS._AC_UF1000,1000_QL80_.jpg" alt="Capa do Livro">
    </div>
    <div class="livro-title-container">
        <h2 class="livro-title">Nome do Livro</h2>
    </div>

    <div class="livro-author">
        <span class="livro-author-item">
            <i class="fas fa-user"></i>
            Autor do Livro
        </span>
        <span class="livro-author-item">
            <i class="fas fa-calendar-alt"></i>
            Data de Publicação: 12/01/2024
        </span>
        <span class="livro-author-item">
            <a href="/livros/categoria/ficcao/">
                <i class="fas fa-layer-group"></i>
                <span>Gênero: Ficção</span>
            </a>
        </span>
    </div>

    <div class="livro-content">
        <p>Descrição do livro vai aqui...</p>
    </div>
    <div class="livro-meta-container">
        <div class="livro-meta livro-preparation">
            <h3 class="livro-meta-title"><i class=""></i> Paginas</h3>
            <div class="livro-meta-text">
                300 páginas
            </div>
        </div>
        <div class="livro-meta livro-servings">
            <h3 class="livro-meta-title"><i class=""></i> Disponibilidade</h3>
            <div class="livro-meta-text">
                Disponível para empréstimo
            </div>
        </div>
    </div>

    <footer class="livro-footer">
        <a class="livro-read-more button button-dark button-full-width" href="/livros/1/">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
</div>
