{% for livro in livros %}
<div class="livro livro-list-item">
    <div class="livro-cover">
        <img src="{{ livro.cover.url }}" alt="Capa do Livro">
    </div>
    <div class="livro-title-container">
        <h2 class="livro-title">{{ livro.titulo }}</h2>
    </div>

    <div class="livro-author">
        <span class="livro-author-item">
            <i class="fas fa-user"></i>
            {{ livro.autor }}
        </span>
        <span class="livro-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ livro.data_publicacao|date:"d/m/Y" }}
        </span>
        <span class="livro-author-item">
            <a href="/livros/categoria/ficcao/">
                <i class="fas fa-layer-group"></i>
                <span>Gênero: Ficção</span>
            </a>
        </span>
    </div>

    <div class="livro-content">
        <p>{{ livro.descricao }}</p>
    </div>
    <div class="livro-meta-container">
        <div class="livro-meta livro-preparation">
            <h3 class="livro-meta-title"><i class=""></i> Páginas</h3>
            <div class="livro-meta-text">
                {{ livro.paginas }}
            </div>
        </div>
        <div class="livro-meta livro-servings">
            <h3 class="livro-meta-title"><i class=""></i> Disponibilidade</h3>
            <div class="livro-meta-text">
                {% if livro.emprestado %}
                Disponível para empréstimo
                {% else %}
                Indisponível para empréstimo
                {% endif %}
            </div>
        </div>
    </div>

    <footer class="livro-footer">
        <a class="livro-read-more button button-dark button-full-width" href="/livros/{{ livro.id }}/">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
</div>
{% endfor %}
