<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'usuario/css/style_usuario.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
<form method="POST" class="formulario container" action="{% url "login" %}">
    {% csrf_token %}

    <h1 class="titulo-form">Login de Usuário</h1>
    {% if form.non_field_errors %}
        <div class="alert-box">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <div class="alert-box">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            Entrar
        </button>
    </div>
</form>
</body>
</html>
