<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <link rel="stylesheet" href="{% static 'usuarios/css/style_usuario_cadastro.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="wrapper">
        <h1>Cadastro</h1>
        <form action="#">
            <div class="input-box">
                <input type="text" placeholder="Nome">
            </div>
            <div class="input-box">
                <input type="text" placeholder="Série">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Senha">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirmar Senha">
            </div>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
        <p class="login-link">Já tem uma conta? <a href="{%url 'login'%}">Faça login</a></p>
    </div>
</body>
</html>
