<!-- livros.html -->
{% extends "global/home.html" %}

{% block title %}Área do Usuário | {% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>Bem-vindo(a), {{ usuario.nome }}!</h2>
    <h3>Livros emprestados:</h3>
    <main class="main-content-container">
        <div class="main-content main-content-list container">
    {% for livro in livros_emprestados %}
        {% include "livros/partials/livros.html" %}
    {% endfor %}
        </div>
    </main>
</div>
{% endblock content %}