<!-- livros.html -->
{% extends "global/home.html" %}

{% block title %}Área do Usuário | {% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>Bem-vindo(a), {{ usuario.nome }}!</h2>
    <h3>Livros emprestados:</h3>
    <main class="main-content-container">
        <div class="main-content main-content-list container">
    {% for livro in livros_emprestados %}
        {% include "livros/partials/livros.html" %}
    {% endfor %}
        </div>
    </main>
</div>
<div class="container mt-5">
    <h3>Suas avaliações:</h3>
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            
    {% if avaliacao %}
        {% for avaliacao in avaliacao %}
            {% include "livros/partials/avaliacao.html"%}
        {% endfor %}
    {% else %}
        <p class="sem-avaliacoes">
            <i class="fas fa-info-circle"></i>
            Você não avaliou nem um livro
        </p>
    {% endif %}
        </div>
    </main>
</div>
{% endblock content %}