{% include "livros/partials/head.html" %}
<div class="formulario">
    <h1>Cadastro do livro</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" name="descricao" required>

        <label for="cover">Capa</label>
        <input type="file" name="cover" id="cover" required>

        <label for="paginas">Quantidade de páginas</label>
        <input type="number" name="paginas" id="paginas" required>
        
        <label for="autor">Autor</label>
        <input type="text" id="autor" name="autor" required>

        <label for="data_publicacao">Data de publicação</label>
        <input type="date" name="data_publicacao" id="data_publicacao" required>

        <label for="category">Categorias</label>
        <select name="category" multiple>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Cadastrar</button>
    </form>
</div>
